'use strict'
module.exports = {
  NODE_ENV: '"production"',
  API_URL: '"https://URL_DOMINIO/myapp/api/"',
  GRAPHQL_URL: '"https://URL_DOMINIO/myapp/graphql/"',
  AUTH_URL: '"https://URL_DOMINIO/myapp/auth"',
  TIME_SESSION_EXPIRED: 30,
  ONBEFOREUNLOAD: false,
  AUTH_TOKEN: '"Bearer"',
  LANG: '"es"',
  DEBUG_MODE: false
}
